@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@import url('./App.css');

* {
  margin: 0 !important;
  box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 !important;
  line-height: 1.5 !important;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #ffffff;
  border-bottom: 1px solid #D4D4D4;
}

header > nav {
  width: 1296px;
}

.navbar-brand {
  font-weight: 500 !important;
}

header button {
  font-weight: 600 !important;
  border-color: #D4D4D4 !important;
  border-radius: 80px !important;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 963px;
}

img {
  width: 514.28px;
  height: 317.89px;
}

.login-section > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 138.15px;
  width: 1406px;
  height: 907px;
}

.card {
  padding: 36px 47px 25px 35px;
  min-width: 505px !important;
  max-width: 505px !important;
  border: 1px solid #878787 !important;
  border-radius: 16px !important;
  box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.05);
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  row-gap: 29px;
}

.card-body > h4 {
  font-size: 25px;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
}

.form-header {
  margin-bottom: 48px !important;
}

.form-header > h2 {
  font-size: 31px;
  font-weight: 500;
}

.form-header > p {
  font-weight: 400;
  color: #000000;
}

.form-body {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

form label {
  margin-bottom: 9px !important;
  color: #000000;
}

form input {
  padding-left: 27px !important;
  height: 59px;
  font-weight: 300 !important;
  border: 0.6px solid #282828 !important;
}

form button {
  max-width: 423px;
  height: 57px;
  border-radius: 16px !important;
}

.form-description {
  font-weight: 300;
  margin-top: 20px !important;
  text-align: center;
  color: #7D7D7D;
}

.link-signup {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}
