@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@import url('./App.css');

* {
  margin: 0 !important;
  box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 !important;
  line-height: 1.5 !important;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 58px;
  background-color: #ffffff;
  border-bottom: 1px solid #D4D4D4;
}

header > nav {
  width: 1296px;
}

.navbar-brand {
  font-weight: 500 !important;
}

header button {
  font-weight: 600 !important;
  border-color: #D4D4D4 !important;
  border-radius: 80px !important;
}

.login-section,
.signup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 963px;
}

img {
  width: 514.28px;
  height: 317.89px;
}

.login-section > .container,
.signup-section > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 138.15px;
  width: 1406px;
  height: 907px;
}

.card {
  padding: 36px 47px 25px 35px;
  min-width: 505px !important;
  max-width: 505px !important;
  border: 1px solid #878787 !important;
  border-radius: 16px !important;
  box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.15);
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  row-gap: 29px;
}

.card-body > h4 {
  font-size: 25px;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
}

.form-header {
  margin-bottom: 48px !important;
}

.form-header > h2 {
  font-size: 31px;
  font-weight: 500;
}

.form-header > p {
  font-weight: 400;
  color: #000000;
}

.form-body {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

form label {
  margin-bottom: 9px !important;
  color: #000000;
}

form input {
  padding-left: 27px !important;
  height: 59px;
  font-weight: 300 !important;
  border: 0.6px solid #282828 !important;
}

form button {
  max-width: 423px;
  height: 57px;
  border-radius: 16px !important;
}

.form-description {
  font-weight: 300;
  margin-top: 20px !important;
  text-align: center;
  color: #7D7D7D;
}

.link-signup,
.link-login {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}

.chat-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 963px;
}

.chat-section > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 138.15px;
  width: 1406px;
  height: 907px;
}

.chat-window {
  display: flex;
  width: 1320px;
  height: 859px;
  border: 1px solid #D4D4D4;
  border-radius: 16px;
  box-shadow: 0px 4px 64px 0px rgba(0,0,0,0.12);
}

.chat-window > .left-section {
  width: 220px;
  border-right: 1px solid #D4D4D4;
}

.chat-window > .right-section {
  width: 1100px;
}

.left-section > .header,
.right-section > .header {
  height: 74px;
}

.left-section > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px !important;
  padding-left: 23px;
  padding-right: 9px;
}

.left-section > .header > h5 {
  font-size: 16px;
  font-weight: 600;
}

.left-section > .header > button {
  padding: 0;
  width: 40px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  border-color: #D4D4D4;
}

.navbar {
  padding: 0 9px 0 9px !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column !important;
}

.navbar-nav button {
  white-space: normal;
  word-wrap: break-word;
}

.channel {
  padding: 7px 0 7px 14px;
  width: 202px !important;
  text-align: start;
  background-color: #ffffff !important;
  border: none;
  border-radius: 16px;
}

.channel-removable {
  width: 150px !important;
}

.dropdown {
  width: 202px;
  background-color: #ffffff !important;
  border-radius: 16px !important;
}

.btn-grey,
.dropdown-grey {
  background-color: #EDEDED !important;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
  border: none !important;
}

.dropdown-menu[data-bs-popper] {
  left: 150px !important;
}

.right-section {
  display: flex;
  flex-direction: column;
}

.right-section > .header {
  padding: 16px;
  border-bottom: 1px solid #D4D4D4;
}

.channel-name {
  font-size: 12px;
  font-weight: 600;
}

.counter-of-messages {
  margin-top: 4px;
  font-size: 12px;
}

.chat-messages-footer {
  padding: 16px 48px;
}

.input-group {
  display: flex;
}

.input-group > button {
  position: absolute !important;
  right: 0;
  height: 44px;
  width: 60px;
  background: none !important;
  border: none;
  cursor: pointer;
  z-index: 10 !important;
}

.imput-new-message {
  padding-right: 60px !important;
  height: 44px;
  border: 1px solid #D4D4D4 !important;
  border-radius: 16px !important;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.12) !important;
}

.img-send {
  width: 20px;
  height: 20px;
}

div.fade.in.modal {
  display:flex !important;
}

.modal-dialog {
  margin: auto !important;
}

.btn-add-channel,
.btn-rename-channel,
.btn-remove-channel {
  width: 150px;
  align-self: flex-end;
}

.btn-remove-channel {
  width: 130px;
  height: 50px;
}

.text-confirm {
  font-size: 20px;
}
